@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";


body {
  background-color: #f4f4f4;
  font-family: var(--font-sans);
}

/* Hide scrollbars for a cleaner, native look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
